---
const { id } = Astro.props;
---

<section {id} class="relative snap-section h-vh">
  <div class="sticky top-0 h-vh flex items-center justify-center overflow-y-auto overflow-x-hidden" style="align-items: safe center">
    <slot />
  </div>
</section>
